<div class="well">
  <form action="/bet" method="post">
    <input id="bet-amount" type="text" name="bet"/>
    <br/>
    <input type="submit" class="btn"/>
  </form>

  <div id="slider"></div>

  <div id="slider_labels">
    <label id="min_label">0</label>
    <label id="max_label"><%= session[:players_money] %></label>
  </div>

  <script>
  var players_money= '<%= session[:players_money] %>';
  $( '#slider' ).slider({
    max: players_money,
    min: 0,
    step: 10,
    slide: function( event, ui ) {
      $("#bet-amount").val(ui.value);
    }
  });
  </script>

</div>
