<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack 0.3</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/application.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <span class="brand">Blackjack</span>
            <ul class="nav">
              <li><a href="/name_entry"><i class="icon-user"></i> New Player</a></li>
              <li><a href="/start_over"><b style="color: black;">$</b> Start Over</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <% if @info %>
      <div class="alert alert-info"><%=@info%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
