<div class="well">
  <form action="/set_name" method="post">
    <input type="text" name="player_name" autofocus=/>
    <br/>
    <input type="submit" class="btn btn-info" value="Start Game"/>
  </form>
</div>
