html {
  overflow-y: scroll;
}

form {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 10px;
}

div.controls {
  height: 30px;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

form.control_button {
  float: left;
  padding-right: 10px;
}

div.game_member_container {
  /*height needs to be fixed as cards are not all the same height*/
  /*207 - 215 after resizing*/
  height: 235px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

div.member_info {
  width: 15%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 0px;
  float: left;
  background-color: #f5f5f5;
}

div.member_cards {
  padding-top: 10px;
  background-color: #f5f5f5;
}

img.card_image {
  padding-left: 5px;
}

#slider {
 margin-left: 10px;
 margin-top: 15px;
 width: 195px;
}

#slider_labels {
  width: 220px;
  margin-top: 5px;
}

#min_label {
  float: left;
}

#max_label {
  float: right;
}
